In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import curve_fit
%matplotlib inline

In [2]:
datelist = pd.date_range(start="26-02-2020",periods = 61).tolist()

In [3]:
len(datelist)

61

In [4]:
novi = [1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 3, 0, 1, 0, 4, 6, 0, 5, 8, 11, 6, 28, 9, 29, 22, 12, 29, 24, 18, 22, 18, 26, 44, 25,
       30,46,53,72,15,29,18,46,48,49,68,26,54,66,107,36,53,37,18, 6,28, 41,26,41,19]

In [5]:
izleceni = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 9, 0, 5, 0, 
           3,0,3,7,0,5,2,4,0,0,3,42,12,23,18,25,15,21,24, 48,29,36,37,126]

In [6]:
pocinati = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 2, 1, 2, 2, 0,
           1,5,1,3,5,3,1,2,2,0,4,6,1,1,3,0,2,3,1,1,0,1,2,2]

In [7]:
df = pd.DataFrame({'datum': datelist, 'novi_pozitivni':novi, 'vkupno_novi': np.zeros(len(novi)), 'izleceni': izleceni,'vkupno_izleceni': np.zeros(len(novi)), 'pocinati' : pocinati, 'vkupno_pocinati': np.zeros(len(novi)), 'active': np.zeros(len(novi))})

In [8]:
vkupno_novi = 0
vkupno_izleceni = 0
vkupno_pocinati = 0
active = 0
for i in range(len(novi)):
    vkupno_novi = vkupno_novi + df['novi_pozitivni'][i]
    vkupno_izleceni = vkupno_izleceni + df['izleceni'][i]
    vkupno_pocinati = vkupno_pocinati + df['pocinati'][i]
    active = vkupno_novi - (vkupno_izleceni+vkupno_pocinati)
    df['vkupno_novi'][i] = vkupno_novi
    df['vkupno_izleceni'][i] = vkupno_izleceni
    df['vkupno_pocinati'][i] = vkupno_pocinati
    df['active'][i] = active
df['vkupno_novi'] = df['vkupno_novi'].astype(int)
df['vkupno_izleceni'] = df['vkupno_izleceni'].astype(int)
df['vkupno_pocinati'] = df['vkupno_pocinati'].astype(int)
df['active'] = df['active'].astype(int)

/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [9]:
df.tail()

,datum,novi_pozitivni,vkupno_novi,izleceni,vkupno_izleceni,pocinati,vkupno_pocinati,active
56,2020-04-22,28,1259,48,272,1,56,931
57,2020-04-23,41,1300,29,301,0,56,943
58,2020-04-24,26,1326,36,337,1,57,932
59,2020-04-25,41,1367,37,374,2,59,934
60,2020-04-26,19,1386,126,500,2,61,825

In [10]:
df.to_csv('corona_north_macedonia.csv',index=False)