In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import curve_fit
%matplotlib inline

In [2]:
datelist = pd.date_range(start="26-02-2020",periods = 50).tolist()

In [3]:
len(datelist)

50

In [4]:
novi = [1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 3, 0, 1, 0, 4, 6, 0, 5, 8, 11, 6, 28, 9, 29, 22, 12, 29, 24, 18, 22, 18, 26, 44, 25,
       30,46,53,72,15,29,18,46,48,49,68,26,54,66]

In [5]:
izleceni = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 9, 0, 5, 0, 
           3,0,3,7,0,5,2,4,0,0,3,42,12]

In [6]:
pocinati = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 2, 1, 2, 2, 0,
           1,5,1,3,5,3,1,2,2,0,4,6,1]

In [7]:
df = pd.DataFrame({'datum': datelist, 'novi_pozitivni':novi, 'vkupno_novi': np.zeros(len(novi)), 'izleceni': izleceni,'vkupno_izleceni': np.zeros(len(novi)), 'pocinati' : pocinati, 'vkupno_pocinati': np.zeros(len(novi)), 'active': np.zeros(len(novi))})

In [8]:
vkupno_novi = 0
vkupno_izleceni = 0
vkupno_pocinati = 0
active = 0
for i in range(len(novi)):
    vkupno_novi = vkupno_novi + df['novi_pozitivni'][i]
    vkupno_izleceni = vkupno_izleceni + df['izleceni'][i]
    vkupno_pocinati = vkupno_pocinati + df['pocinati'][i]
    active = vkupno_novi - (vkupno_izleceni+vkupno_pocinati)
    df['vkupno_novi'][i] = vkupno_novi
    df['vkupno_izleceni'][i] = vkupno_izleceni
    df['vkupno_pocinati'][i] = vkupno_pocinati
    df['active'][i] = active
df['vkupno_novi'] = df['vkupno_novi'].astype(int)
df['vkupno_izleceni'] = df['vkupno_izleceni'].astype(int)
df['vkupno_pocinati'] = df['vkupno_pocinati'].astype(int)
df['active'] = df['active'].astype(int)

/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [9]:
df

,datum,novi_pozitivni,vkupno_novi,izleceni,vkupno_izleceni,pocinati,vkupno_pocinati,active
0,2020-02-26,1,1,0,0,0,0,1
1,2020-02-27,0,1,0,0,0,0,1
2,2020-02-28,0,1,0,0,0,0,1
3,2020-02-29,0,1,0,0,0,0,1
4,2020-03-01,0,1,0,0,0,0,1
5,2020-03-02,0,1,0,0,0,0,1
6,2020-03-03,0,1,0,0,0,0,1
7,2020-03-04,0,1,0,0,0,0,1
8,2020-03-05,0,1,0,0,0,0,1
9,2020-03-06,2,3,0,0,0,0,3
10,2020-03-07,0,3,0,0,0,0,3
11,2020-03-08,1,4,0,0,0,0,4
12,2020-03-09,3,7,0,0,0,0,7
13,2020-03-10,0,7,0,0,0,0,7
14,2020-03-11,1,8,0,0,0,0,8
15,2020-03-12,0,8,0,0,0,0,8
16,2020-03-13,4,12,0,0,0,0,12
17,2020-03-14,6,18,0,0,0,0,18
18,2020-03-15,0,18,0,0,0,0,18
19,2020-03-16,5,23,0,0,0,0,23
20,2020-03-17,8,31,1,1,0,0,30
21,2020-03-18,11,42,0,1,0,0,41
22,2020-03-19,6,48,0,1,0,0,47
23,2020-03-20,28,76,0,1,0,0,75
24,2020-03-21,9,85,0,1,0,0,84
25,2020-03-22,29,114,0,1,1,1,112
26,2020-03-23,22,136,0,1,1,2,133
27,2020-03-24,12,148,0,1,0,2,145
28,2020-03-25,29,177,0,1,1,3,173
29,2020-03-26,24,201,2,3,0,3,195
30,2020-03-27,18,219,0,3,0,3,213
31,2020-03-28,22,241,0,3,1,4,234
32,2020-03-29,18,259,0,3,2,6,250
33,2020-03-30,26,285,9,12,1,7,266
34,2020-03-31,44,329,0,12,2,9,308
35,2020-04-01,25,354,5,17,2,11,326
36,2020-04-02,30,384,0,17,0,11,356
37,2020-04-03,46,430,3,20,1,12,398
38,2020-04-04,53,483,0,20,5,17,446
39,2020-04-05,72,555,3,23,1,18,514
40,2020-04-06,15,570,7,30,3,21,519
41,2020-04-07,29,599,0,30,5,26,543
42,2020-04-08,18,617,5,35,3,29,553
43,2020-04-09,46,663,2,37,1,30,596
44,2020-04-10,48,711,4,41,2,32,638
45,2020-04-11,49,760,0,41,2,34,685
46,2020-04-12,68,828,0,41,0,34,753
47,2020-04-13,26,854,3,44,4,38,772
48,2020-04-14,54,908,42,86,6,44,778
49,2020-04-15,66,974,12,98,1,45,831

In [10]:
df.to_csv('corona_north_macedonia.csv',index=False)