In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.optimize import curve_fit
%matplotlib inline

In [17]:
datelist = pd.date_range(start="26-02-2020",periods = 68).tolist()

In [18]:
len(datelist)

68

In [19]:
novi = [1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 3, 0, 1, 0, 4, 6, 0, 5, 8, 11, 6, 28, 9, 29, 22, 12, 29, 24, 18, 22, 18, 26, 44, 25,
       30,46,53,72,15,29,18,46,48,49,68,26,54,66,104,36,53,37,18, 6,28, 41,26,41,19,13,22,21,23,29,15, 5]

In [26]:
izleceni = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 9, 0, 5, 0, 
           3,0,3,7,0,5,2,4,0,0,3,42,12,23,18,25,15,21,24, 48,29,36,37,126,53,36,38,111,69,45, 93]

In [27]:
pocinati = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 2, 1, 2, 2, 0,
           1,5,1,3,5,3,1,2,2,0,4,6,1,1,3,0,2,3,1,1,0,1,2,2,4,6,2,4,4,1,2]

In [28]:
df = pd.DataFrame({'datum': datelist, 'novi_pozitivni':novi, 'vkupno_novi': np.zeros(len(novi)), 'izleceni': izleceni,'vkupno_izleceni': np.zeros(len(novi)), 'pocinati' : pocinati, 'vkupno_pocinati': np.zeros(len(novi)), 'active': np.zeros(len(novi))})

In [29]:
vkupno_novi = 0
vkupno_izleceni = 0
vkupno_pocinati = 0
active = 0
for i in range(len(novi)):
    vkupno_novi = vkupno_novi + df['novi_pozitivni'][i]
    vkupno_izleceni = vkupno_izleceni + df['izleceni'][i]
    vkupno_pocinati = vkupno_pocinati + df['pocinati'][i]
    active = vkupno_novi - (vkupno_izleceni+vkupno_pocinati)
    df['vkupno_novi'][i] = vkupno_novi
    df['vkupno_izleceni'][i] = vkupno_izleceni
    df['vkupno_pocinati'][i] = vkupno_pocinati
    df['active'][i] = active
df['vkupno_novi'] = df['vkupno_novi'].astype(int)
df['vkupno_izleceni'] = df['vkupno_izleceni'].astype(int)
df['vkupno_pocinati'] = df['vkupno_pocinati'].astype(int)
df['active'] = df['active'].astype(int)

/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/sinisha/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [30]:
df.tail()

,datum,novi_pozitivni,vkupno_novi,izleceni,vkupno_izleceni,pocinati,vkupno_pocinati,active
63,2020-04-29,21,1439,38,627,2,73,739
64,2020-04-30,23,1462,111,738,4,77,647
65,2020-05-01,29,1491,69,807,4,81,603
66,2020-05-02,15,1506,45,852,1,82,572
67,2020-05-03,5,1511,93,945,2,84,482

In [25]:
df.to_csv('corona_north_macedonia.csv',index=False)